#logo {
    display:block;
    margin:0 auto;
    text-align:center;
    margin-top:4%;
}

#content {
    margin-top:1em;
}

/* -------------------------------------------------- */

p#blurb {
    padding:1em 1em 1em 0;
    font:22px sans-serif;
    color:black;
    text-shadow:+2px +2px #EEE, +2px -2px #EEE, -2px +2px #EEE, -2px -2px #EEE, -2px 0px #EEE, 0px -2px #EEE, 2px 0px #EEE, 0px 2px #EEE; 
}

p#notice {
    padding:0 1em 1em 1em;
    font:18px sans-serif;
    color:#888;
}

#signin-button {
    padding:0.5em;
    font-size:2em;
}

/* ---------------------------------------- */

#email-link {
    width:20em;
    margin:1em;
    padding:0.2em;
    font:1.5em sans-serif;
}

/* -------------------------------------------------- */

#about {
    width:40em;
    margin:1em auto;
    padding:0.25em;
    font-family:sans-serif;
    font-size:1.0em;
    word-spacing:0.2em;
    line-height:1.2em;
    background-color:#EEE;
    border:2px black solid;
    border-radius:1em;
}

#about p {
    padding:0.5em;
    text-align:center;
}

#about a {
    color:black;
}
