.club {
    position:relative;
    margin:1em;
    padding:0.5em;
    border:0px black solid;
    border-width:1px 1px 1px 5px;
    font-family:sans-serif;
}

.club a {
    color:black;
}

.club a.club-name:visited {
    color:black;
}

.club header h2 {
    display:inline-block;
}

a.club-edit {
    float:right;
    color:#555;
}
a.club-edit:visited {
    color:#555;
}

.madeclub:nth-child(odd) {
    border-color: #69A;
    background-color: #9BD;
}

.madeclub:nth-child(even) {
    border-color: #57B;
    background-color: #79D;
}

#noclub {
    margin:0.5em;
    padding:0.5em;
    background-color:#CCC;
    opacity:0.6;
    border-radius:0.5em;
}

/* ------------------------------------------------------------ */
/* club flyers */

.clubcont {
    padding-left:2em;
    color:#555;
}

.flyer-list {
}
.flyer-list li {
    padding:0.2em 0;
}

.flyer-name {
    display:inline-block;
    width:12em;
    height:1em;
    overflow:hidden;
}
.flyer-date {
    display:inline-block;
    width:6em;
}
.flyer-track {
    display:inline-block;
    width:9em;
}

.sparkgraph {
    display:inline-block;
    width:140px;
}
.sparkgraph-atom {
    display:inline-block;
    width:16px;
    margin:0 2px;
    background-color:#5A5;
    border-bottom:1px gray solid;
}

/* ------------------------------------------------------------ */

#newwrapper {
    margin-top:1em;
    border-top:4px #555 solid;
    cursor:pointer;
}

#addnew {
    border-color:#AAA;
    background-color: #CCC;
}

#newclubform {
    display:none;
    width:50%;
    margin:1em auto;
}

#newclubform input {
    display:block;
    width:100%;
    padding:0.5em;
    font:1.2em sans-serif;
}

#newclubform button {
    display:block;
    width:60%;
    margin:0 auto;
    padding:0.5em;
    font:1.2em sans-serif;
    text-align:center;
}