* {
    margin:0 auto;
    text-align:center;
}

html {
    height:100%;
}

body {
    background:-webkit-gradient(linear, left top, left bottom,
				from(#E0DDFF), to(#66F)) fixed;
    background:-moz-linear-gradient(top,  #DDF,  #77F) fixed;
}

/* -------------------------------------------------- */

footer {
    margin-top:1em;
    color:#555;
    font-family:sans-serif;
}

footer a, footer a:visited {
    color:#555;
}

/* -------------------------------------------------- */

.cloud {
    display:inline-block;
    position:absolute;
    padding:2em;
    border:0.4em #AAA solid;
    background-color:#EEE;
    opacity:0.5;
    border-radius:1em;
    z-index:-1;
}

/* -------------------------------------------------- */

h1 {
    font:bold 2.5em sans-serif;
    margin:0em;
}

h2 {
    font:1.5em sans-serif;
    margin:0em;
}