form {
    width:100%;
    float:left;
    margin:0;
}

#file-instructions {
    position:relative;
    top:6em;
    text-align:center;
}

#file-wrapper {
    margin:0 auto;
    width:80%;
    text-align:center;
}

input#file {
    display:block;
    padding:8em 20%;
    background-color:#fbfc9f;
    border:3px #e4c54a dashed;
    font-size:1.2em;
}

input#submit {
    display:block;
    width:50%;
    margin:0.1em auto 0 auto;
    font-size:2em;
    text-align:center;
}