form {
    float:left;
    margin:1em;
    padding:1em;
    background-color:rgba(255, 255, 255, 0.5);
    border-radius:1em;
}

input#file {
    margin:1em;
    font-size:1.3em;
}

input#submit {
    display:block;
    margin:1em;
    padding:0.4em;
    font-size:1.3em;
    text-align:center;
}