{% extends "master.html" %}

{% block style %}
<link rel="stylesheet" href="/static/css/authd_page.css" />
{% block pagestyle %}
{% endblock %}
{% endblock %}

{% block content %}
<header>
  <a href="/">
    <img id="logo" src="/static/img/logo_small.png">
    <h1 id="title">{% block pagetitle %}{% endblock %}</h1>
  </a>
  <a id="logout" href="/logout">Logout</a>
</header>

<div id="notifications">
{% for note in notifications %}
<div class="notification">
  <span class="notification-title">{{ note.title }}</span>
  {{ note.body }}
</div>
{% endfor %}
</div>

{% block page %}
{% endblock %}

{% endblock %}

{% block scripts %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
</script>
{% endblock %}
