{% extends "authd_page.html" %}

{% block title %}Edit Club: {{ club }}{% endblock %}
{% block pagetitle %}Edit Club: {{ club }}{% endblock %}

{% block pagestyle %}
<link rel="stylesheet" href="/static/css/club_edit.css" />
{% endblock %}

{% block page %}
<a id="return" href="/">↵ Return to organization list</a>
<div id="emaillist">
  {% for email in emails %}
  <div class="email">
    <a class="admin" href="/club/{{ clubslug }}/admin/{{ email.0 }}">
      {% if email.1 %}
      Admin
      {% else %}
      Regular
      {% endif %}
    </a>
    <span class="email-title">{{ email.2 }}</span>
    <a class="delete-email" href="/club/{{ clubslug }}/delete/{{ email.0 }}">
      Delete
    </a>
  </div>
  {% endfor %}
  {% if not emails %}
  <h2 id="noemails">oops, no members yet! Add some below!</h2>
  {% endif %}

  <div id="newwrapper">
    <h2>Add UNIs to the list</h2>
    <p>Copy paste the list of UNIs below</p>
    <form id="newmembers" method="post">
      <textarea name="newemails"></textarea>
      <button>Add emails</button>
    </form>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
</script>
<script type="text/javascript">
  $("#newmembers").submit(function(){
  }); // !!!
</script>
{% endblock %}
