{% extends "authd_page.html" %}

{% block title %}Edit Club: {{ club }}{% endblock %}
{% block pagetitle %}Edit Club: {{ club }}{% endblock %}

{% block pagestyle %}
<link rel="stylesheet" href="/static/css/club_edit.css" />
{% endblock %}

{% block page %}
<div id="emaillist">
  {% for email in emails %}
  <div class="email">
    <h2>{{ email.email }}</h2>
  </div>
  {% endfor %}
  {% if not emails %}
  <h2 id="noemails">oops, no members yet! Add some below!</h2>
  {% endif %}

  <div id="newwrapper">
    <h2>Add emails to the list</h2>
    <p>Copy paste the list of emails below</p>
    <form id="newmembers" method="post">
      <textarea name="newemails"></textarea>
      <button>Add emails</button>
    </form>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js">
</script>
<script type="text/javascript">
  $("#newmembers").submit(function(){
  }); // !!!
</script>
{% endblock %}
