{% extends "master.html" %}

{% block content %}
<img id="logo" src="/static/img/logo.png" title="Floke" alt="Floke" />

<p id="blurb">A fast and easy way to get people flyering</p>

<p id="notice">Only open to {{ affiliation }}</p>

<a href="{{ login_url }}">
  <button id="signin-button">Sign in with Google</button>
</a>

<div id="about">
  <p>
    3 clicks to post a flyer, with constant reminders and metrics? We
    wanted better flyering without the drudge work, so we built this.
  </p>
  <p>
    Bugs? Banhammered wrongly? Have raves and reviews? Want to talk about life?
    <a href="mailto:{{ contact_info }}">Tell us what you think</a>.
  </p>
</div>

<footer>
  Brought to you by the <a href="http://adicu.com/">Application
  Development Initiative</a>
</footer>
{% endblock %}
