<!doctype html>
<html>
  <head>
    <title>Flyer Poke</title>
    <style>
       td { padding:0.3em; border:1px black solid; }
    </style>
  </head>
  <body>
    <h1>Flyers</h1>

    <table>
      <tr>
	<th>Flyer Id</th>
	<th>Flyer Name</th>
	<th>Date Created</th>
      </tr>
      {% for flyer in flyers %}
      <tr>
	<td>{{ flyer.id }}</td>
	<td>{{ flyer.name }}</td>
	<td>{{ flyer.last_sent_date }}</td>
      </tr>
      {% endfor %}
    </table>

    <h1>Jobs</h1>
    <table>
      <tr>
	<th>Job Id</th>
	<th>Job Name</th>
	<th>Email Id</th>
	<th>Email</th>
	<th>Message</th>
      </tr>
      {% for job in jobs %}
      <tr>
	<td>{{ job.flyer.id }}</td>
	<td>{{ job.flyer.name }}</td>
	<td>{{ job.email.id }}</td>
	<td>{{ job.email.email }}</td>
      </tr>
      {% endfor %}
    </table>

  </body>
</html>
