<!doctype html>
<html>
  <head>
    <title>Floke - {% block title %}A Flyering notifier{% endblock %}</title>

    <link rel="stylesheet" href="/static/css/reset.css" />
    <link rel="stylesheet" href="/static/css/overall.css" />
    {% block style %}
    <link rel="stylesheet" href="/static/css/front.css" />
    {% endblock %}
  </head>
  <body>

    <div class="cloud" style="top:20%;left:20%;"></div>
    <div class="cloud" style="top:22%;left:22%;"></div>
    <div class="cloud" style="top:25%;left:16%;"></div>

    <div class="cloud" style="top:50%;left:80%;"></div>
    <div class="cloud" style="top:56%;left:83%;"></div>
    <div class="cloud" style="top:54%;left:86%;"></div>
    <div class="cloud" style="top:58%;left:79%;"></div>

    <div id="content">
      {% block content %}
      {% endblock %}
    </div>

    {% block scripts %}
    {% endblock %}
  </body>
</html>
