{% extends "authd_page.html" %}

{% block title %}Organizations{% endblock %}
{% block pagetitle %}Organizations{% endblock %}

{% block pagestyle %}
<link rel="stylesheet" href="/static/css/list.css" />
{% endblock %}

{% block page %}
<div id="orglist">
  {% for club in clubs %}
  <div class="madeclub club">
    <header>
      <h2>
	<a class="club-name" href="/flyer/{{ club.slug }}">
          {{ club.name }} - post flyer
        </a>
      </h2>
      <a class="club-edit" href="/club/{{ club.slug }}">edit</a>
    </header>
    <div class="clubcont">
      {% if club.flyers %}
      <ul class="flyer-list">
        {% for flyer in club.flyers %}
        <li>
          <span class="flyer-name">{{ flyer.name }}</span>
          <span class="flyer-date">{{ flyer.date|date:"Y/m/d" }}</span>
          <span class="flyer-track">
            dl: {{ flyer.dl_jobs|length }},
            Done: {{ flyer.done_jobs|length }}/{{ flyer.jobs|length }}
          </span>
          <span class="sparkgraph-cont">
            Mon
            <span id="flyer-{{ flyer.id }}" class="sparkgraph"></span>
            Sun
          </span>
        </li>
        {% endfor %}
      </ul>
      {% else %}
      No flyers yet
      {% endif %}
    </div>
  </div>
  {% endfor %}
  {% if not clubs %}
  <h2 id="noclub">oops, no clubs yet!</h2>
  {% endif %}

  <div id="newwrapper">
    <div id="addnew" class="club">
      <h2>Make New Club</h2>
    </div>
    <form id="newclubform" method="post" action="/new-club">
      <input type="text" name="name" id="clubname" />
      <button>Make/Join Club</button>
    </form>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"
        type="text/javascript"></script>
<script src="/static/js/d3.v2.min.js" type="text/javascript"></script>
<script type="text/javascript">
  {% for club in clubs %}
  {% for flyer in club.flyers %}
    var chart{{ flyer.id }} = d3.select("#flyer-{{flyer.id}}");
    // get the data
    var data{{ flyer.id }} = [
      {% for job in flyer.done_jobs %}
        {"name": "{{ job.email.email }}",
         "update": new Date("{{ job.last_updated|date }}") },
      {% endfor %}
    ];
    // bin the data
    var bin{{ flyer.id }} = [[], [], [], [], [], [], []];
    for(var d in data{{ flyer.id }}) {
      var data = data{{ flyer.id }}[d];
      bin{{ flyer.id }}[(data.update.getDay() - 1 + 7) % 7].push(data);
    }
    var mx{{ flyer.id }} = d3.max(bin{{ flyer.id }}, function(d){
      return d.length;
    });

    chart{{ flyer.id }}.selectAll("div")
      .data(bin{{ flyer.id }})
      .enter().append("div")
      .attr("class", "sparkgraph-atom")
      .attr("title", function(d) {
        return $.map(d, function(elem, ind){ return elem.name; }).join(", ");
      })
      .style("height", function(d){
        return ($(".sparkgraph").height()-1)*d.length/mx{{ flyer.id }} + "px";
      });
  {% endfor %}
  {% endfor %}
</script>
<script type="text/javascript">
  $("#addnew").click(function() {
    $("#addnew").hide();
    $("#newclubform").show();
    $("#clubname").focus();
  });

  $("#newclubform").submit(function(e) {
    if(!$("#clubname").val()) {
      alert("You need to enter a name");
      e.preventdefault();
      return false;
    }
  });
</script>
{% endblock %}
