{% extends "master.html" %}

{% block style %}
<link rel="stylesheet" href="/static/css/upload.css" />
{% endblock %}

{% block content %}
<form action="/upload" method="post" enctype="multipart/form-data">
  <textarea id="emails" name="content">
example@example.com Flyer mudd
another@example.com FLYER FASTER
</textarea>
  <div id="file-area">
    <div>
      <h2>Drag n' Drop</h2>
      <input id="file" type="file" name="flyer" /><br/>
    </div>
  </div>
  <input id="submit" type="submit" value="LET'S DO THIS THING">
</form>
{% endblock %}

