<!doctype html>
<html>
  <head>
    <title>Flyer Poke</title>

    <link rel="stylesheet" href="/static/css/front.css" />
  </head>
  <body>
    <img src="/static/img/logo.png" />

    <form action="/upload" method="post" enctype="multipart/form-data">
      <textarea name="content" cols="45" rows="10">
example@example.com Flyer mudd
another@example.com FLYER FASTER
      </textarea><br/>
      <input type="file" name="flyer" /><br/>
      <input type="submit" value="Upload Flyer">
    </form>

  </body>
</html>
