{% extends "authd_page.html" %}

{% block title %}Upload Flyer{% endblock %}
{% block pagetitle %}Upload Flyer{% endblock %}

{% block pagestyle %}
<link rel="stylesheet" href="/static/css/upload.css" />
<link rel="stylesheet"
      href="/static/css/custom-theme/jquery-ui-1.8.18.custom.css" />
{% endblock %}

{% block page %}
<a id="return" href="/">↵ Return to organization list</a>

<h3>For {{ name }}:</h3>
<form id="upload-form" action="{{ upload_url }}" method="post"
      enctype="multipart/form-data">
  <!-- <h2 id="file-instructions">Drag n' Drop your Flyer here</h2> -->
  <h2>Step 1: Enter Event Name</h2>
  <input type="text" id="event-name" name="name" />
  <h2>Step 2: Select Event Date</h2>
  <div id="datepicker"></div>
  <input type="hidden" id="event-date" name="date" />
  <h2>Step 3: Select PDF flyer</h2>
  <input id="file" type="file" name="flyer" />
  <h2>Step 4: Click the button</h2>
  <input id="submit" type="submit" value="LET'S DO THIS THING">
</form>
{% endblock %}

{% block scripts %}
<script src="/static/js/jquery-1.7.1.min.js"></script>
<script src="/static/js/jquery-ui-1.8.18.custom.min.js"></script>
<script>
  $(function() {
  $("#datepicker").datepicker({numberOfMonths: 2,
  defaultDate: +7,
  altField: "#event-date",
  altFormat:"yy/mm/dd"});
  $("#event-name").focus();
  });
</script>
{% endblock %}
