{% extends "master.html" %}

{% block content %}
<img id="logo" src="/static/img/logo.png" title="Floke" alt="Floke" />

{% if notifications %}
<div id="notifications">
  {% for note in notifications %}
<div class="notification">
  <span class="notification-title">{{ note.title }}</span>
  {{ note.body }}
</div>
  {% endfor %}
</div>
{% endif %}

{% if email %}
<p id="blurb">We sent a verification email to
<span style="text-decoration:underline;">{{ email }}</span>.<br/>
Check your inbox, and follow the instructions there. <br/>
If that's the wrong email or you lost the last email, <br/>
you'll have to wait until we remove your previous attempt in a day or two.
</p>
{% else %}
<p id="blurb">We need to confirm you are a student, so enter your UNI</p>

<form id="linkemailform" name="linkemailform" action="/linkemail" method="POST">
  <input id="email-link" name="email" type="text" /><br/>
  <button id="signin-button">Send Confirmation Email</button>
</form>
{% endif %}

{% endblock %}

{% block scripts %}
<script type="text/javascript">
document.getElementById('email-link').focus();
</script>
{% endblock %}
